body {
  margin: 0;
  padding: 0;
  position: relative;
}

header, .main-navbar, article, footer {
  margin: 15px auto auto;
  padding: 2ex 10px;
}

header {
  margin-top: 0;
}

h1 {
  margin: 2px auto;
}

.byline {
  margin: 0;
  padding: 0;
}

article > * {
  margin-left: 60px;
  margin-right: auto;
  max-width: 50rem;
}

li, li > p {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 2px;
  padding-top: 2px;
}

footer {
  max-width: 600px;
  padding: .7em 1.2em;
}
