body {
  margin: 0;
  padding: 0;
  position: relative;
}

header, .main-navbar, article, footer {
  margin: 15px auto auto;
  /*max-width: 900px;*/
  padding: 2ex 10px;
}

h1 {
  margin: 2px auto;
}

article > * {
  margin-left: 60px;
  margin-right: 60px;
}

li, li > p {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 2px;
  padding-top: 2px;
}

footer {
  max-width: 600px;
  padding: .7em 1.2em;
}

.locked-box {
  margin: 0;
  padding: 8px 0 0 8px;
  position: absolute;
}
.bottom-right {
  bottom: 0;
  right: 0;
}
