body {
  margin: 0;
  padding: 0;
  position: relative;
}

header, .main-navbar, article, footer {
  margin: 15px auto auto;
  padding: 2ex 10px;
}

header {
  margin-top: 0;
}

h1 {
  margin: -0.4rem auto 0.1rem;
  padding-top: 0;
}

.byline {
  margin: 0;
  padding: 0 0 0 0.3rem;
}

.main-navbar {
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
}

h2 {
  margin-bottom: .2rem;
  margin-top: .2rem;
}

article > * {
  margin-left: 60px;
  margin-right: auto;
  max-width: 50rem;
}

li, li > p {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 2px;
  padding-top: 2px;
}

footer {
  max-width: 70vw;
  padding: .7em 1.2em;
}
