* {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: #76841B; text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #808D34;
}

h1 {
  color: white;
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 5px;
  text-align: center;
  text-shadow: 0 1px 1px black;
}

h1 > a, h1 > a:visited {
  color: white;
}

.byline {
  text-align: center;
  font-weight: 100;
}

header, .main-navbar, article, footer {
  box-shadow: 0 0 7px #111;
}

header {
  color: white;
  background-color: #297032;
  box-shadow: inset 0 0 60px black;
  font-family: Helvetica, sans-serif;
}

.main-navbar {
  text-align: center;
}
.main-navbar > a {
  padding: 0 8px 0 8px;
}

footer {
  font-size: small;
  background-color: #DDD;
}
