* {
  font-family: 'Source Sans Pro', sans-serif;
}

html {
  font-size: 100%;
}

a {
  color: #76841B; text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: #808D34;
}

h1 {
  color: white;
  font-size: 3rem;
  font-variant: small-caps;
  font-weight: 100;
  letter-spacing: 0.5rem;
  text-align: center;
  text-shadow: 0 1px 1px black;
}

h1 > a, h1 > a:visited {
  color: white;
}

.byline {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
}

header, .main-navbar, article, footer {
  box-shadow: 0 0 5px #888;
}

header {
  color: white;
  background-color: #297032;
  box-shadow: inset 0 0 60px black;
  font-family: Helvetica, sans-serif;
}

.main-navbar {
  text-align: center;
  font-size: 1rem;
}
.main-navbar > a {
  padding: 0 8px 0 8px;
}

h2 {
  font-size: 1.6rem;
}

pre, pre * {
    font-family: monospace;
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

footer {
  font-size: .8rem;
  background-color: #DDD;
}

@media (max-device-width: 600px) {
  html {
    font-size: 240%;
  }

  .main-navbar {
    font-weight: 600;
  }

  .main-navbar > a {
    text-decoration: underline;
  }

  footer {
    max-width: 100%;
    padding-left: 60px;
  }
}
