/*  Validation header: 

    This stylesheet is valid CSS level 3,
    according to the service at
    http://jigsaw.w3.org/css-validator/#validate_by_upload+with_options
*/

li {
  float: left;
  
  margin: 1em;
  padding: 4px;
  
  list-style-type: none;
}

li.image {
  border: 3px solid #24446D;
  height: 185px;
}

li.section-head {
  clear: both;
  width: 100%;
  border-top: 2px solid #DFED87;
  border-bottom: 2px solid #DFED87;
  border-left: none;
  border-right: none;
  padding: 4px;
  
  text-align: center;
  font-family: sans-serif;
  font-size: smaller;
}

li.image > span {
  margin-top: auto;
  display: block;
  text-align: center;
}

p#usage {
  clear: both;
}