h2 small {
	font-size: 50%;
}

dd {
	margin-bottom: .4em;
	line-height: 1.45;
}

button#showform {
	display: none;
	font-size: 14pt;
}

/* -- Inside the form -- */

fieldset {
	margin: 1em 0;
	border: none;
	padding-bottom: 18px;
	background: #28405F;
	color: white;
}

/* -- Inside the fieldsets -- */

fieldset legend {
	background: #83E790;
	color: black;
	padding: 3px 7px;
	-webkit-border-radius: 5;
}

label.itemhead, p.itemhead {
	margin: .9em 0 .2em 0;
}

textarea, input, select, button {
	margin: 0 0 0 50px;
}
textarea, input, select {
	background: #BACCE3;
}

fieldset#part2 textarea {
	height: 10ex;
	width: 40em;    
}

fieldset#part3 button {
	max-width: 400px;
	font-size: 16pt;
}

/* -- Specific fixes -- */

label.keeptogether { white-space: nowrap; }
input#specifyother { margin-left: 5px; }
input#subjectfield { width: 40em; }
