<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8" />
  <title>{{ page.title }} &mdash; Code Kerning</title>
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600" rel="stylesheet" type="text/css">
  <link href="/css/default-structure.css" rel="stylesheet" />
  <link href="/css/global-style.css" rel="stylesheet" />
</head>

<body>
<header>
  <h1>
    <a href="/" class="titleLink">
      Code Kerning
    </a>
  </h1>
  <p class="byline">
    Designed. All the way through.
  </p>
</header>

<nav class="main-navbar">
{% include main-nav.html %}
</nav>

<article>
{{ content }}
</article>

<footer>
{% include footer.html %}
</footer>

{% include analytics %}
</body>
</html>
