<!DOCTYPE html>

<html>
<head>
  <meta charset="UTF-8" />
  <title>{{ page.title }} &mdash; Code Haven &mdash; Tyler Wayne</title>
  <link href="/css/default-structure.css" rel="stylesheet" />
  <link href="/css/global-style.css" rel="stylesheet" />
</head>

<body>
<header>
  <h1>
    <a href="/" class="titleLink">code haven</a>
  </h1>
</header>

<nav class="main-navbar">
{% include main-nav.html %}
</nav>

<article>
{{ content }}
</article>

<footer>
{% include footer.html %}
</footer>

{% include signature.html %}
{% include analytics %}
</body>
</html>
